@charset "utf-8";

/* CSS Document */

.header_logo3 img:hover {
  transform: scale(1.01);
  transition: all 0.5s;
}

body {
  color: #fff;
  display: grid;
  grid-template-areas:
    "header-cell"
    "nav-cell"
    "main-cell"
    "footer-cell";
}

header,
footer {
  border: 1px solid #ccc7c8;
  background-color: #fff;
  border-radius: 5px;
}

header {
  grid-area: header-cell;
  background-color: #3cc;
  height: 150px;
  box-sizing: border-box;
  border-radius: 5px;
}

header p {
  font-size: 30px;
  font-weight: bold;
  color: #fff;

  margin-top: 10px;
  font-size-adjust: central;
}

header img {
  padding-bottom: 5%;
  padding-right: 10px;
}

nav {
  grid-area: nav-cell;
  margin-top: 20px;
}

nav a {
  float: left;
  margin: 3px;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 5px 10px;
  height: 20px;
  background: #ffffff80;
  text-decoration: none;
  font-size: 17px;
  color: #166d44;
  text-align: center;
  box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
}

nav a:hover {
  color: #fff;
  background: #c7ebc3;
}

main {
  grid-area: main-cell;
  display: grid;
  padding: 10% 5px;
  float: left;
  overflow: auto;
}
main.one-col {
  grid-template-areas:
    "left-cell"
    "article-cell"
    "right-cell";
  overflow: auto;
}
/* Thuoc tinh column-count */
main.three-cols {
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "left-cell article-cell right-cell";
}

article {
  grid-area: article-cell;
}

.main-content {
  display: grid;
  grid-template-columns: auto;
}

.col_list {
}

article {
  grid-area: article-cell;
}

aside.left-side {
  grid-area: left-cell;
}

aside.righ-side {
  grid-area: right-cell;
}

aside.left-side,
aside.righ-side {
  text-align: justify;
  text-justify: inter-word;
  text-shadow: 2px 2px 2px #000;
}

aside.left-side {
}

aside.left-side li {
  display: block;
  padding: 20% 0px;
  background: #0aa;
  font-size: 20px;
  list-style-type: none;
}

aside.right-side {
  float: right;
  width: 22%;
  background: #0aa;
  display: block;
  overflow: auto;
  height: 256px;
}

footer {
  grid-area: footer-cell;
  margin-top: 2px;
  text-shadow: 2px 2px 2px #000;
}

footer p {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

main.container {
  clear: both;
  padding-top: 1%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.aside p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
}

.rlogo {
  float: right;
  box-shadow: 5px 5px 2px #555;
}

#box_shadow {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  background: #3cc;
  -webkit-box-shadow: 15px 15px 5px #888245;
  /* For Google Chrome */
  box-shadow: 15px 15px 5px #888245;
}

#animated_div {
  text-align: center;
  width: 60px;
  height: 40px;
  background: green;
  color: #ffffff;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  animation: animated_div 5s infinite;
  -webkit-animation: animated_div 5s infinite;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

@keyframes animated_div {
  0% {
    left: 0px;
  }

  20% {
    left: 50px;
    background-color: green;
  }

  40% {
    left: 140px;
    background-color: red;
  }

  60% {
    left: 280px;
    background-color: yellow;
  }

  80% {
    left: 425px;
    background-color: blue;
  }

  100% {
    left: 0px;
    background-color: pink;
  }
}

@-webkit-keyframes animated_div {
  0% {
    left: 0px;
  }

  20% {
    left: 50px;
    background-color: green;
    margin-top: 50px;
  }

  40% {
    left: 140px;
    background-color: red;
    margin-top: 0px;
  }

  60% {
    left: 280px;
    background-color: yellow;
    margin-top: 50px;
  }

  80% {
    left: 425px;
    background-color: blue;
    margin-top: 0px;
  }

  100% {
    left: 0px;
    background-color: pink;
  }
}

@-moz-keyframes animated_div {
  0% {
    left: 0px;
  }

  20% {
    left: 50px;
    background-color: green;
  }

  40% {
    left: 140px;
    background-color: red;
  }

  60% {
    left: 280px;
    background-color: yellow;
  }

  80% {
    left: 425px;
    background-color: blue;
  }

  100% {
    left: 0px;
    background-color: pink;
  }
}

body {
  background-image: url(https://previews.123rf.com/images/versusstudio/versusstudio1509/versusstudio150900197/46115054-abstract-architecture-white-building-design-background-3d-render-illustration.jpg);
  background-size: cover;
}
